# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_DB=iot_access_db

# Go backend
DATABASE_URL=postgres://admin:PASSWORD@localhost:5432/iot_access_db
JWT_SECRET=
UID_PEPPER=

# MQTT broker credentials
MQTT_USERNAME_BACKEND=go_backend
MQTT_PASSWORD_BACKEND=
MQTT_USERNAME_DASHBOARD=nextjs_dashboard
MQTT_PASSWORD_DASHBOARD=
MQTT_BROKER=tcp://localhost:1883
